@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.navbar .nav-brand {
  font-size: 2rem;
  font-weight: 600;
}

nav {
  box-shadow: 0 4px 3px -3px rgb(66 64 64 / 20%);
}

.card .card-body a {
  color: black;
  text-decoration: none;
}

.card .card-body a:hover {
  text-decoration: underline;
}

.card .card-body .content {
  text-align: justify;
}
#banner {
  margin: 0 auto;
  margin-top: 20px;
}

.section-title{
  margin-bottom: 40px;
}


#banner .card {
  padding: 0;
}

#banner .card {
  box-shadow: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.slick-track {
  display: flex;
  align-items: stretch;
}
.slick-slide {
  height: auto;
  flex: 1;
}

#banner .card .card-body.flex {
  flex-flow: column;
  justify-content: center;
}

#banner .card img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

#banner .card .card-body .caption {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: gray;
  padding: 10px 0 0 10px;
}

#banner .card .card-body h2 {
  padding: 10px 0 0 10px;
  line-height: 1.4em;
}

#banner .card .card-body .content {
  padding: 10px;
}

.card .card-body .post-meta {
  color: gray;
  padding: 10px 0 0 0;
}

.card .card-body .post-meta p {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px !important;
  text-transform: uppercase;
  text-align: justify;
  word-break: break-all;
}

#banner .post-meta {
  padding: 10px;
}

.blogs .column{
  margin-bottom: 0;
}

#blogs {
  margin-top: 80px;
}

#editors-pick {
  padding-top: 10px;
  padding-left: 0;
}

#editors-pick .card {
  box-shadow: none;
  margin-bottom: 20px;
}

#editors-pick .w-6 {
  padding-left: 0;
}

#editors-pick .row > * {
  padding-left: 0;
  padding-right: 10px;
}

#editors-pick .card-body {
  flex-direction: column;
  padding: 0;
}

#editors-pick .card-body h2 {
  padding: 10px 0 5px 0;
  font-size: 20px;
}

#editors-pick .card-body p {
  font-size: 16px;
}

#trending {
  padding-top: 10px;
}

#trending .bg-light{
  padding: 20px;
}

#trending .card {
  box-shadow: none;
  margin-bottom: 20px;
  padding-left: 0;
}

#trending .card-body {
  flex-direction: column;
  padding: 0;
}

#trending .card-body h4 {
  padding: 0 0 5px 0;
  font-size: 18px;
}

#trending .card-body p {
  font-size: 16px;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 40px;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;

  background-color: #FFFCF9;
}

footer h3 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
  color: black;
}

footer p {
  max-width: 500px;
  margin: 20px auto;
  font-size: 14px;
  color: black;
}


.post-view-icon {
  height: 15px;
  width: 15px;
  padding-bottom: 2px;
}

.section-subhead {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.section-subhead:after {
  content: "";
  background: black;
  width: 100%;
  height: 1px;
  display: block;
}

#services {
  margin-top: 80px;
}



#services .section-subhead,
#gallery .section-subhead {
  width: 100px;
}

#services .row:has(.section-subhead),
#gallery .row:has(.section-subhead) {
  justify-content: center;
}

#services .card-deck {
  gap: 25px;
}

#services .card-deck > * {
  padding: 0;
}

#services .card {
  width: 25%;
  flex: 1 1 auto;
  box-shadow: none;
}

#services .card .card-body p {
  margin-top: 10px;
}

.service-img{
  width: auto;
  height: 220px;
}

.service-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#gallery {
  margin-top: 80px;
}


#gallery .row .image-item img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.image-item {
  cursor: pointer;
  width: 33.33%;
  height: 350px;
  padding: 5px;
}

.image-item:first-child, .image-item:last-child{
  width: 70%;
}

.image-item:nth-of-type(2), .image-item:nth-last-child(2){
  width: 30%;
}


.banner {
  height: 650px;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

.banner.contact img {
  position: relative;
}

.banner.contact .banner-text {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.banner.contact .banner-text h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
}

.banner.contact .banner-text .form-input {
  border-radius: 2rem;
  height: 60px;
  padding: 0.875rem 2.5rem;
  font-size: 20px;
  border-color: #fff;
  margin-top: 10px;
}
.banner.contact .banner-text .form-input:focus {
  background-color: #fff;
  border-color: #fff;
  outline: 0;
}


#contact-form {
  margin-top: 80px;
  padding: 0 150px;
}

#contact-form form {
  width: 100%;
}

#contact-form .section-subhead {
  width: 330px;
}

#contact-form .row:has(.section-subhead) {
  justify-content: center;
}

#contact-form form .btn.btn-transperant {
  margin-top: 50px;
  display: block;
  width: 100%;
}



#contact-form .row{
  position: relative;
}

.map{
  width: 75%;
  height: 690px;
  padding: 0 0;
}

iframe{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.form-content{
  width: 35%;
  padding: 45px 50px;
    background-color: #fff;
    box-shadow: 2px 4px 6px #dbdbdb;
    z-index: 1;
    top: 5%;
    position: absolute;
    right: 0;
}

.subscribe-section{
  margin-top: 80px;
  padding: 0 150px;
}

.subscribe-wrapper{
  background-image: url('../img/image4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
  position: relative;
  z-index: 1;
}

.subscribe-wrapper::after{
  content: '';
  background: #000000a1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.white{
  color: #fff;
  padding-bottom: 15px;
}

.subscribe-content{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
}

.subscribe-content .section-title{
  text-align: center;
}

.subscribe-section input{
  padding: 10px;
  width: 385px;
}

.submit-btn{
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  outline: none;
  color: #fff;
}

/* About page css */
.banner-image{
  width: 100%;
  height: 65vh;
}

.banner-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content-wrapper{
  padding-top: 80px;
}
.about-wrapper{
  display: flex;
  justify-content: space-between;
}

.about-image{
  width: 50%;
  display: flex;
  margin: -10px;
}

.left-image, .right-image{
  width: 100%;
  height: 500px;
  padding: 10px;
}



.right-image{
  margin-top: 60px;
}

.about-content{
  width: 50%;
}

.about-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.menu-wrapper{
  display: flex;
  justify-content: space-between;
}

.menu-items{
    width: 33.33%;
}

.menu-items .menu-content:first-of-type{
  margin-bottom: 45px;
}

.menu-image{
  width: auto;
  height: 450px;
}

.menu-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

table{
  width: 100%;
}

table td{
  padding-bottom: 5px;
}

table tr:nth-of-type(even){
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

table tr:nth-of-type(even):last-of-type{
  margin-bottom: 0;
}

th{
  text-align: left;
  font-size: 20px;
  padding-bottom: 20px;
}

tr td:last-of-type{
  text-align: right;
}


.menu-section{
  margin-top: 80px;
}

.faq-wrapper{
  padding: 80px 150px;
}

.eachFaq {
  padding-bottom: 20px;
}
/* .eachFaq.close h3:before{ 
  content: '+'; 
  width: 20px; height: 20px;
  position: absolute;
  top: 0; left: 0;
}
.eachFaq.open h3:before{ 
  content: '-'; 
  width: 20px; height: 20px;
  position: absolute;
  top: 0; left: 0;
} */
.accordion-content{
  padding: 0 0 0 2em;
  margin: 0 0 2em 0;
  font-size: 1.25em;
}
.accordion-content p{ margin: 0; }
.eachFaq .title{ cursor: pointer; }
.eachFaq ul li {
  list-style: square;
}

.animation-area .ani-left{
  opacity: 0;
  margin-left: -100px;
  transition: all 1.2s ease;
}

.animation-area .ani-left.normal{
  opacity: 1;
  margin-left: 0;
}

.animation-area .ani-right{
  opacity: 0;
  margin-right: -100px;
  transition: all 1.2s ease;
}

.animation-area .ani-right.normal{
  opacity: 1;
}

.animation-area .ani-fade{
  opacity: 0;
  transition: all 1.2s ease;
}

.animation-area .ani-fade.normal{
  opacity: 1;
  margin-right: 0;
}
/* .eachFaq .title:hover{ color: blue; } */

@media only screen and (max-width: 1024px) {
  .navbar {
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navbar .nav-brand {
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .navbar .nav-links {
    padding: 10px;
    flex-direction: row;
    text-align: center;
  }

  #banner .card .card-body {
    padding: 10px;
  }
  #banner .card .row {
    flex-direction: column;
  }

  #editors-pick .row > * {
    padding-right: 5px;
  }

  #editors-pick .w-6 {
    width: 100%;
  }

  #editors-pick .w-4 {
    display: none;
  }
  #services .card:first-child {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  #banner .card .card-body {
    padding: 5px;
  }
  #blogs .container > .row {
    flex-direction: column;
  }

  #blogs .container > .row > * {
    width: 100%;
  }

  #editors-pick .w-4 {
    display: block;
    width: 100%;
  }
  .image-gallery {
    flex-direction: column;
  }
  .image-gallery .image-item {
    height: 200px;
  }

  #services .card {
    width: 100%;
  }
}
